#!/usr/bin/make -f
# -*- makefile -*

export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring maemo-launcher,$(DEB_BUILD_OPTIONS)))
	LAUNCHER = yes
endif

ifeq "$(strip $(LAUNCHER))" "yes"
	LAUNCHER_DEPENDS = -Vlauncher:Depends="maemo-launcher"
	LAUNCHER_CFLAGS = -shared
	LAUNCHER_LDFLAGS = -shared -export-dynamic
endif

#override_dh_make:
#	$(MAKE) \
#	  MAEMO_LAUNCHER_CFLAGS="$(LAUNCHER_CFLAGS)" \
#	  MAEMO_LAUNCHER_LDFLAGS="$(LAUNCHER_LDFLAGS)"

override_dh_auto_test:
	@echo " * dh_auto_test disabled."

%:
	dh $@ --with autoreconf
